div{width: 150px;
    height: 300px;
    background-color: aqua;
    border: 1px solid #0c0c0c;
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
span{color: #0c0c0c;
    width: 100px;
    height: 100px;
    background-color: #00abae;
    border: 3px solid #025fff;
    margin-bottom: 10px;
    position: relative;
    left: 25px;
    top: 100px;
    text-align: center;
    display: block;
}
#test {
    background-color: rgb(6, 244, 22);
}
.Test{
    position: relative;
    top: 350px;
    right: 207px;
}
.ensyu-2_4_4{
    position: relative;
    top: 700px;
}