span{width: 100px;height: 100px;background-color: rgb(0, 255, 247); font-weight: 300px; color: rgb(103, 241, 17); font-family: Arial, Helvetica, sans-serif;}
h6{font-weight: 100px;width: 50%;height: 50px;}
div{width: 300px; height: 300px; color: rgb(255, 7, 222); padding: 20px; margin: 30px 10px 30px; border: 1px solid #0b0a0a;}
section{text-align: center;}
h5{font-weight: lighter;}
li{list-style-image: url(https://www.civillink.net/fsozai/sozai/list2.gif);}